@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    background-image: url(login.jpeg);
}

/* Style all input fields */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    display: block;
}

/* Style the submit button */
input[type=submit] {
    width: 150px;
    height: 40px;
    background-color: #566573;
    color: white;
    display: block;
    margin: 0 auto;
}

/* Style the container for the login feilds */
.container {
    margin: 100px 450px;
    background-color: #FFFFFF;
    height: 400px;
}

/* Centers the login heading */
h1{
    padding-top: 20px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Style the container for the input fields */
.group{
    padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}
